/*
!/.bashrc
!/.bash_profile
!/.bash_logout
!/.gitignore
!/.profile
!/README.md
!/.script
!/.vim/vimrc
!/.xkb
!/.config
/.config/*
!/.config/bochs
!/.config/btop
!/.config/clang-format
!/.config/conky
!/.config/environment.d
!/.config/gdb
!/.config/gtk-*
!/.config/htop
!/.config/i3status
!/.config/kanshi
!/.config/kitty
!/.config/mako
!/.config/ncspot/config.toml
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.vim
!/.config/nvim/after
!/.config/nvim/colors
!/.config/nvim/ftplugin
!/.config/nvim/scripts
!/.config/nvim/snippet
!/.config/sway
!/.config/swaylock
!/.config/swaynag
!/.config/systemd
!/.config/vimiv
!/.config/waybar
!/.config/wob
!/.config/zathura
